@page "{id:int}"
@model ITVitaeSVS.UI.Web.Areas.Topics.Pages.DetailsModel
@{
}

<div>@Model.Topic.Code</div>
<div>@Model.Topic.Name</div>
<div>@Model.Topic.Objective</div>
<div>@Model.Topic.Level.Name</div>
<div>@Model.Topic.Duration.ToString()</div>
<div>@Model.Topic.WorkMethod.Name</div>
<div>@Model.Topic.Certificate.ExamId @Model.Topic.Certificate.Name</div>
<div>@String.Join(", ", Model.Topic.Tags.Select(tag => tag.Name))</div>
<div>@String.Join(", ", Model.Topic.Requisites.Select(req => req.Name))</div>
<div>@String.Join(", ", Model.Topic.Prerequisites.Select(prereq => prereq.Code))</div>
