@page
@using ITVitaeSVS.UI.Web.Models
@model ITVitaeSVS.UI.Web.Areas.Topics.Pages.IndexModel
@{
}

<a asp-page="CreateEdit">Create</a>

<form method="post" asp-page-handler="CSV" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>
@if (TempData["OnPostCSV"] is string[] alert)
{
    @if (alert[0] == AlertType.Info)
    {
        <div class="alert alert-info" role="alert">@alert[1]</div>
    } else if(alert[0] == AlertType.Warning)
    {
        <div class="alert alert-warning" role="alert">@alert[1]</div>
    }
}

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Level</th>
        <th>WorkMethod</th>
        <th>Tags</th>
        <th>Certificate</th>
    </tr>
    @foreach (var topic in Model.Topics) {
        <tr>
            <td>@topic.Code</td>
            <td>@topic.Name</td>
            <td>@if(topic.Level != null) {<div>@topic.Level.Name</div>}</td>
            <td>@if (topic.WorkMethod != null) {<div>@topic.WorkMethod.Name</div>}</td>
            <td>@String.Join(", ", topic.Tags.Where(tag => tag is not null).Select(tag => tag.Name))</td>
            <td>@if (topic.Certificate != null) {<div>@topic.Certificate.ExamId</div>}</td>
            <td>
                <a asp-page="Details" asp-route-id="@topic.Id">Details</a>
                <a asp-page="CreateEdit" asp-route-id="@topic.Id">Edit</a>
            </td>
        </tr>
    }
</table>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= (Model.Count / Model.PageSize); i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>