@page
@model ITVitaeSVS.UI.Web.Areas.Levels.Pages.IndexModel
@inject IStringLocalizer<ITVitaeSVS.UI.Web.Areas.Levels.Pages.IndexModel> localizer
@{ ViewData["Title"] = @localizer["Title"];
}

<a asp-page="CreateEdit">@localizer["Create"]</a>

<table>
    <tr>
        <th>@localizer["Name"]</th>
    </tr>
    @foreach (var level in Model.Levels) {
        <tr>
            <td>@level.Name</td>
            <td>
                <a asp-page="CreateEdit" asp-route-id="@level.Id">@localizer["Edit"]</a>
            </td>
        </tr>
    }
</table>