@using ITVitaeSVS.Infrastructure.Identity.Models
@using ITVitaeSVS.UI.Web.Services
@inject CommonLocalizationService localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITVitaeSVS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/itvitaelogoliggend.png" height="40"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.IsInRole(Roles.Student))
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Students" asp-page="/Details" asp-route-id="0">@localizer.Get("Student")</a>
                        </li>
                        }
                        @if (User.HasClaim(Permissions.ClaimType, Permissions.ManageContent)) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @localizer.Get("Content")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownContent">
                                <a class="dropdown-item" asp-area="Topics" asp-page="Index">@localizer.Get("Topics")</a>
                                <a class="dropdown-item" asp-area="Subjects" asp-page="Index">@localizer.Get("Subjects")</a>
                                <a class="dropdown-item" asp-area="Certificates" asp-page="Index">@localizer.Get("Certificates")</a>
                                <a class="dropdown-item" asp-area="Tags" asp-page="Index">@localizer.Get("Tags")</a>
                                <a class="dropdown-item" asp-area="Requisites" asp-page="Index">@localizer.Get("Requisites")</a>
                                <a class="dropdown-item" asp-area="Levels" asp-page="Index">@localizer.Get("Levels")</a>
                                <a class="dropdown-item" asp-area="WorkMethods" asp-page="Index">@localizer.Get("WorkMethods")</a>
                            </div>
                        </li>
                        }
                        @if (User.HasClaim(Permissions.ClaimType, Permissions.ManageStudents)) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStudents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @localizer.Get("Students")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownStudents">
                                <a class="dropdown-item" asp-area="Students" asp-page="Index">@localizer.Get("Students")</a>
                            </div>
                        </li>
                        }
                        @if (User.HasClaim(Permissions.ClaimType, Permissions.ManageUsers)) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @localizer.Get("Users")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                                <a class="dropdown-item" asp-area="Identity" asp-page="Users/Index">@localizer.Get("Users")</a>
                            </div>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    <vc:culture-switcher/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ITVitaeSVS
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
