@page
@model ITVitaeSVS.UI.Web.Areas.Certificates.Pages.IndexModel
@inject IStringLocalizer<ITVitaeSVS.UI.Web.Areas.Certificates.Pages.IndexModel> localizer
@{ ViewData["Title"] = @localizer["Title"];
}

<a asp-page="CreateEdit">@localizer["Create"]</a>

<table>
    <tr>
        <th>@localizer["Name"]</th>
        <th>@localizer["ExamId"]</th>
    </tr>
    @foreach (var certificate in Model.Certificates) {
        <tr>
            <td>@certificate.Name</td>
            <td>@certificate.ExamId</td>
            <td>
                <a asp-page="CreateEdit" asp-route-id="@certificate.Id">@localizer["Edit"]</a>
            </td>
        </tr>
    }
</table>
