@page "{id:int}"
@model ITVitaeSVS.UI.Web.Areas.Students.Pages.DetailsModel
@{
}

<div>@Model.Student.FirstName</div>
<div>@Model.Student.LastName</div>
<div>@Model.Student.EnrolledDate</div>

<a asp-area="Students" asp-page=Index>Back to Students</a>

<form method=post asp-page-handler="SavePDF">
    <button type=submit>Save PDF</button>
</form>

<a asp-page="Curricula/Edit" asp-route-id="@Model.Student.Id">Edit Curriculum</a>
<table>
    <tr>
        <th></th>
    </tr>
    @foreach(var topic in Model.Student.Curriculum.Topics) {
                <tr>
                    <td>@topic.Topic.Code</td>
                    <td>@topic.Progress</td>
                    <td>@topic.Approved</td>
                </tr>
            }
</table>