@page
@model ITVitaeSVS.UI.Web.Areas.Students.Pages.IndexModel
@inject IStringLocalizer<ITVitaeSVS.UI.Web.Areas.Students.Pages.IndexModel> localizer
@{ ViewData["Title"] = @localizer["Title"];
}

<a asp-page="CreateEdit">@localizer["Create"]</a>

<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Enrolled</th>
    </tr>
    @foreach(var student in Model.Students) {
<tr>
    <td>@student.FirstName</td>
    <td>@student.LastName</td>
    <td>@student.EnrolledDate</td>
    <td>
        <a asp-page="Details" asp-route-id="@student.Id">@localizer["Details"]</a>
        <a asp-page="CreateEdit" asp-route-id="@student.Id">@localizer["Edit"]</a>
    </td>
</tr>
            }
</table>
